WebSocket server doesn't give "Switching protocols" reason phrase during handshake

When responding to a HTTP upgrade request from a new WebSocket client, the WebSocket server doesn't give the human-readable text (or "reason") in the HTTP status line.

The server's response looks like:

```
HTTP/1.1 101
upgrade: websocket
connection: upgrade
sec-websocket-accept: ...
```

I understand it's debatable as to whether [RFC6455 Section 4.2.2](https://tools.ietf.org/html/rfc6455#section-4.2.2) and [RFC2616 Section 6.1](https://tools.ietf.org/html/rfc2616#section-6.1.1) define the "reason" or "reason phrase" as mandatory.

However, the lack of "reason" breaks some WebSockets client libraries. In the interests of supporting other implementations, it'd be great if we could send this text.

The conventional "reason" for a 101 status code is "Switching protocols", already defined in [lib/constants.php](https://github.com/amphp/aerys/blob/master/lib/constants.php#L10). It looks like commit 0b34e29f already addressed adding a default "reason" text for standard HTTP response codes (ie issue #25), but somehow this isn't used in the WebSocket handshake response.

Which client libraries are you having problems with? All of them are buggy and need fixes. The reason phrase is completely optional. That said, we can totally add the reason phrase. 

Currently the Python `websockets` library's client portion.

Not that I want anyone pointing fingers, but I've filed [another issue here](https://github.com/aaugustin/websockets/issues/159).

It's totally fine linking them. I already found the issue via your profile and commented. 

https://github.com/aaugustin/websockets/pull/160 fixes it.